<html>
	<head>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
		<meta charset="utf-8"/>
		<title>Rectangles</title>
 

		<script th:replace="fragments/googlemaps :: googlemapsheader"/>
		<th:block th:replace="fragments/header :: standard-header"/>

	    <script>
			//<![CDATA[           
			$(function() {
			   
			    
			    
			    
			    
			    $( "#slider" ).slider({
				     // orientation: "vertical",
				      range: "min",
				      min: 0.5,
				      max: 200,
				      value: 3,
				      step: 0.1,
				      slide: function( event, ui ) {
				        $( "#amount" ).val( ui.value );
				      }
				    });
				    
				    $( "#amount" ).val( $( "#slider" ).slider( "value" ) );

				    $( "#slider" ).on( "slidechange", function( event, ui ) {
						$( "#amount" ).val( ui.value );
						clearRectangles();
					//	drawRectangles(ui.value,30);
						//drawRectangles(ui.value,);
						drawRectangles(ui.value,'#0000FF');
			    		drawCircle(document.getElementById('latitude').innerHTML,document.getElementById('longitude').innerHTML,parseFloat(ui.value)*1000);

					} );

			    
			  });
			//]]>
		</script>

	    <script>
			//<![CDATA[
	    
	    	google.maps.event.addDomListener(window, 'load', initialize);
	
	    	function initialize () {
	    		
		    	if (navigator.geolocation) {
					navigator.geolocation.getCurrentPosition(callback);
		    	} else {
					error('not supported');
				}
	    	}	

	    	function callback (position) {
	    		document.getElementById('latitude').innerHTML = position.coords.latitude;
				document.getElementById('longitude').innerHTML = position.coords.longitude;
				posLatitude = position.coords.latitude;
				posLongitude = position.coords.longitude;
				posAccuracy = position.coords.accuracy;
	    		initializeMap(posLatitude, posLongitude,11);
	    		var radius = $( "#amount" ).val();
	    		console.log (radius);
	    		//drawRectangles(radius,30);
	    		//drawRectangles(radius,29);
	    		//drawRectangles(radius,'#FF0000',29);
	    		drawRectangles(radius,'#0000FF',$( "#hashlength" ).val());
	    		drawCircle(parseFloat(posLatitude),parseFloat(posLongitude),parseFloat(radius)*1000);
	    	}	    		    	


	    	function drawRectangles (radius,color) {
				var query = { 
					location: {
						'latitude': posLatitude, 
						'longitude': posLongitude, 
						'accuracy': posAccuracy
					},
					radius:radius
				};
					
				$.ajax({
					type: "POST",
					url:"/admin/getPopulatedZones",
					Accept : "application/json",
					contentType: "application/json",
					data: JSON.stringify(query)
				})
				   .done(function( msg ) {
					   for (var i = 0; i < msg.length; i++) {
					       var message = msg[i];
							drawRectangle(message.minLatitude,message.minLongitude,message.maxLatitude,message.maxLongitude,message.color,0.3);
					}
				});
	    	}
	    	
	    	
	    	
			//]]>	    		    	
	    </script>
	</head>
	<body>
		<div th:replace="fragments/header :: header">test</div>
	
		<div class="container">
			<div class="row">
				<div class="col-md-3"> 
					<div id="map-canvas" ></div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3"> 
					<p>
						<label for="amount">Radius (km):</label><input type="text" id="amount" readonly="readonly" style="border:0; color:#f6931f; font-weight:bold;"/> 
					</p>
					<div id="slider"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					Latitude: <span
					id="latitude"></span> <br /> Longitude: <span id="longitude"></span>
					</div>		
				</div>
			</div>
	</body>
</html>