body,input,span {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;	
}
div.message {
	padding:5px;
	margin:0px;
	border:1px solid #eEEEEE;
}
span.body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
span.author {
	font-weight:bold; 
}
span.time, span.distance {
	font-size: 10x;
	color:#8899a6;
	margin-left:5px;
}
#map-canvas {
	height: 300px;
	width: 300px;
	margin: 0px;
	padding: 0px
}

