<div   th:fragment="locator">
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <article>
      <p>Finding your location: <span id="statusText">checking...</span></p>
    </article>
<script>
function success(position) {
	console.log("success");
  var s = document.querySelector('#statusText');
  var latitude = document.getElementById('latitude');
  var longitude = document.getElementById('longitude');

  console.log(latitude);
 // if (s.className == 'success') {
    // not sure why we're hitting this twice in FF, I think it's to do with a cached result coming back    
 //   return;
  //}
  
  s.innerHTML = "found you!";
  s.className = 'success';
  
  var mapcanvas = document.createElement('div');
  mapcanvas.id = 'mapcanvas';
  mapcanvas.style.height = '200px';
  mapcanvas.style.width = '280px';
    
  document.querySelector('article').appendChild(mapcanvas);
  
           if (latitude != null ) {
           latitude.value=position.coords.latitude;
           }
           if (longitude != null ) {
           longitude.value=position.coords.longitude;
          }
  var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
  var myOptions = {
    zoom: 15,
    center: latlng,
    mapTypeControl: false,
    navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  var map = new google.maps.Map(document.getElementById("mapcanvas"), myOptions);
  
  var marker = new google.maps.Marker({
      position: latlng, 
      map: map, 
      title:"You are here! (at least within a "+position.coords.accuracy+" meter radius)"
  });
}

function error(msg) {
  var s = document.querySelector('#status');
  s.innerHTML = typeof msg == 'string' ? msg : "failed";
  s.className = 'fail';
  
  // console.log(arguments);
}



</script>
</div>