<th:block th:fragment="placeViewPanel">
	<div class="panel panel-default">
		<!-- Default panel contents -->
		<div class="panel-heading">
			<h4>
				<span th:text="${place.display_name}" />
			</h4>
			<h5>
				<span th:text="${renderedType.displayText}" />
			</h5>			
		</div>
		<div class="panel-body">
			<div class="pull-right" style="font-size:2em;">
				<a th:href="@{/placeEdit(placeId=${place.id})}"
					class="glyphicon glyphicon-edit "></a>
					
					<a th:href="@{http://www.google.com/search(q=${place.type + ' ' + place.display_name + ' ' + place.address.postcode + ' ' + place.address.city})}" class="glyphicon glyphicon-search"/>
					</div>
				<br />
			<address>
				<span th:text="${place.address.postcode}"></span>
				<span th:text="${place.address.city}" style="margin-left: 5px;"></span>
				<br /> 
				<span th:text="${place.address.street}"></span> 
				<span th:text="${place.address.house_number}" style="margin-left: 5px;"></span>
				<th:block th:if="${place.phoneNumber != null and !place.phoneNumber.isEmpty()}">
					<br /> 
					<strong th:text="#{place.phoneNumber}">Email</strong>
					<span th:text="${place.phoneNumber}"></span>
				</th:block>
			
				<th:block th:if="${place.primaryEmailAddress != null and !place.primaryEmailAddress.isEmpty()}">
					<br/>
					<strong th:text="#{place.primaryEmailAddress}">Email</strong> 
					<a th:href="@{mailto:(${place.primaryEmailAddress})}" th:text="${place.primaryEmailAddress}">first.last@example.com</a>					
				</th:block>
				<th:block th:if="${place.webSite != null and !place.webSite.isEmpty()}">
					<br/><strong th:text="#{place.webSite}">Email</strong> 
					<a th:href="${place.webSite}" th:text="${place.webSite}" target="blank"></a>
				</th:block>
			</address>		
		</div>
	</div>
</th:block>