

<th:block th:fragment="placesPanel">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4>In Ihrer Nähe</h4>
			<h5 th:text="*{channel}"></h5>
		</div>
		<!--  >ul class="timeline list-group" ng-controller="offerControl">
					<li class="clearfix list-group-item" ng-repeat="offer in offers | orderBy:'time'">
						<div class="timeline-badge">
							<h3 title="resource title" class="media-heading">
								<a href="/resource/0" class="ng-binding">{{offer.header}}</a>
							</h3>
						</div>
						<div class="timeline-panel">
							<div class="col-md-2">
								<img class="img-responsive img-thumbnail" style="height: 100px;"
									src="{{offer.img}}"/>
							</div>
							<div class="col-md-4">
								<p title="description" class="list-group-item-text ng-binding">
									{{offer.body}}</p>
								<p class="small">{{offer.price}}</p>
								<strong class="ng-binding">{{offer.place}}</strong>

								<address class="small">{{offer.address.street}} -
									{{offer.address.zip}} {{offer.address.city}} -
									{{offer.address.phone}}</address>
							</div>

							<div class="col-md-6">
								<span class="badge pull-right"> {{offer.time}} min</span>
							</div>
						</div>

					</li>
				</ul-->
		<ul class="timeline list-group" ng-controller="placesControl">
			<li class="clearfix list-group-item" ng-repeat="place in places | orderBy:'dblDistance'">
				<div class="timeline-badge">
					<h3 title="resource title" class="media-heading">
						<a href="/placeView?placeId={{place.id}}" class="ng-binding">{{place.display_name}}</a>
					</h3>
				</div>
				<div class="timeline-panel">
					<div class="col-xs-3">
						
						<div class="small">
							<a href="http://www.openstreetmap.org/node/{{place.osmId}}">
								<img src="/img/osm_logo.png"
								class="img-responsive img-thumbnail" style="height: 25px;" />
							</a>
						</div>
					</div>
					<div class="col-xs-8">
						<address class="small">
						
							<span class="strong">{{place.localizedType}}</span>
							<br/>
								{{place.street}}<br/>{{place.zip}}
							{{place.city}} 
							<span ng-hide="place.phone == ''">						
								<br/><strong th:text="#{place.phoneNumber}"/> {{place.phone}}
							</span>
						</address>
						
						<span class="badge pull-right"> {{place.distance}}</span>

					</div>

					<div class="col-xs-1"></div>
				</div>
			</li>
			<div>{{message}}</div>
		</ul>

	</div>
</th:block>