<th:block th:fragment="searchPlacePanel">
							<form action="#" th:action="@{/searchPlaces}"
								th:object="${search}" method="post" accept-charset="utf-8">

								<div class="form-group">
									<label for="searchText" th:text="#{general.pointofinterest}">Point
										of Interest</label> <input type="text" class="form-control"
										id="searchText" th:field="*{name}" />
								</div>
								<p>
									<input type="submit" value="Search"
										th:value="#{general.search}" />
								</p>
							</form>

							<table>
								<tr th:each="item:${respList}">
									<td><a
										th:href="@{/loadPlaceFromCache}+'?placeId='+${item.place_id}"><span
											th:text="${item.display_name}"></span></a></td>
								</tr>
							</table>
</th:block>