
div.message {
	padding:5px;
	margin:0px;
	border:1px solid #eEEEEE;
}
span.body {
	font-size: 12px;
	color:#818181;
}
span.author {
	font-weight:bold; 
}
span.time, span.distance{
	color:#8899a6;
	margin-left:5px;
}
span.display-name {
	color:#818181;
}
a.place-type {
	color:#818181;
	
}
#map-canvas {
	height:300px;
	margin: 0px;
	padding: 0px
}

